{% extends "base.html" %}

{% block content %}


<h1>Welcome to The Blog!</h1>
    
    <hr />

    {% if posts|length == 0 %}
    <p>No posts yet</p>
    {% else %}

    <hr />
    <h2>Blog posts</h2>
    <br>
        {% for post in posts %}
        <div style="background-color:oldlace">
            <h3><a href ="/display_post?swag={{post.id}}">{{post.post_title}}</a></h3>
            <br>
        </div>
        <div style="background-color:oldlace">
        <p>{{post.post_text}}</p>
        </div>
        <hr>
        {% endfor %}
    </div>
    {% endif %}

    
    

    
{% endblock %}